header {
  width: 100%;
  height: 5rem;
  background-color: var(--color2);
  display: flex;
  justify-content: center;
  align-items: center;
}

header a,
header button {
  text-decoration: none;
  color: var(--color3);
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 0;
  background: 0;
  margin: 0 0.2rem;
}

header button {
  font-size: 0.8rem;
}

.active,
header a:hover,
header button:hover {
  border: 1px solid var(--color3);
}

header nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (pointer: none), (pointer: coarse) {
  @media (orientation: portrait) {
    header a,
    header button {
      padding: 0.75rem 0.75rem;
    }
    header nav {
      width: 98%;
    }
  }
}
