.img {
  height: 3rem;
  width: auto;
  margin: 1rem 0;
}
.h1 {
  font-size: 1.7rem;
  text-align: left;
}
.li {
  font-size: 1.1rem;
  text-align: justify;
}
.ol {
  padding-left: 1rem;
}
.a {
  padding: 0;
  border: 0;
  background: 0;
}
.a:hover {
  background: rgba(0, 0, 0, 0.02);
}
